<ng-include src="'views/header.html'"></ng-include>

<div class="row">
	<div class="col-md-12" >
		<h1>Ma RATP</h1>
		<p>&emsp;&emsp;Ma RATP est une web application permettant de localiser les stations de la RATP.</p>
		<p>&emsp;&emsp;Notre application offre deux types de recherche, vous pouvez chercher une station par son nom, ou bien en fonction de sa distance par rapport à votre localisation actuelle.</p>
		<p>&emsp;&emsp;Ma RATP est un projet scolaire mise en place dans le but de verifier notre acquisition de connaissance sur le responsive webdesign.</p>
		<p>&emsp;&emsp;Ce projet nous a permis de non seulement mettre en application nos connaissances, mais aussi d'en acquérir de nouvelles, notamment l'exploitation d'un module de Google Maps</p>
		<p>&emsp;&emsp;La conduite de ce projet a été semée d'embuches, entre les difficultés techniques comme le fait que l'un de nos ordinateurs ne pouvait lancer le grunt serve ainsi que les difficultées d'apprentissage des nouvelles technologies exploitées (Yeoman, Angular ...), ainsi que les problèmes de santé d'un des membres du groupe.</p>
		<p>&emsp;&emsp;Cependant ce projet a tout de même été mené à bien ce qui vous permet d'utiliser cette application aujourd'hui.</p>
	</div>
</div>

<ng-include src="'views/footer.html'"></ng-include>