<div class="footer">
  	<div class="row">
   		<div class="textFoot">
	    	<div class="col-md-6 col-sm-6">
	    		<h4>Contact us</h4>
		    	00-00-00-00-00<br/>
		    	RATP@epf.fr<br/>
		    	3 Bis Rue Lakanal,<br/>
		    	92330 Sceaux
	    	</div>
   		</div>

   		<div class="textFoot">
	    	<div class="col-md-6 col-sm-6">
	    		<h4>Us</h4>
		    	MELSENS François<br/>
		    	CARETTE Nicolas<br/>
		    	EPF - 4ème Année<br/>
		    	Promotion 2015<br/>
		    	Option TIC
	    	</div>
   		</div>
	</div>
</div>